.background {
  background-image: url('../media/background.png');
}

@media (min-width: 1200px) {
  .background {
    /* Get rid of if we change to a repeatable design */
    background-size: cover;
  }
}

.content {
  margin-top: 5rem;
}
nav > .container-fluid > a > img {
  max-width: 3.5rem;
  max-height: 3.5rem;
}

nav a {
  margin-top: 0.25rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

nav > .container-fluid > #navbarSupportedContent > ul > li {
  border: 0.25rem solid transparent;
}
nav > .container-fluid > #navbarSupportedContent > ul > li > a {
  font-size: 1.5rem;
}

.navTransparent {
    transition-duration: 0.5s;
    background-color: transparent;
}
.navTransparent > .container-fluid > #navbarSupportedContent > ul > li:hover {
    transition-duration: 0.5s;
    border-radius: 1rem;
    border: 0.25rem solid #bbddff;
}
.navTransparent > .container-fluid > #navbarSupportedContent > ul > li > a {
    transition-duration: 0.5s;
    color: #3d7bff;
}

.navColor {
    transition-duration: 0.5s;
    background-color: #bbddff;
}
.navColor > .container-fluid > #navbarSupportedContent > ul > li:hover {
  transition-duration: 0.5s;
  border-radius: 1rem;
  border: 0.25rem solid #CCFFCC;
}
.navColor > .container-fluid > #navbarSupportedContent > ul > li > a {
    transition-duration: 0.5s;
    color: #338833;
}
.box {
  padding-left: 10%;
  padding-top: 6.5%;
  padding-bottom: 6.5%;
  padding-right: 7.5%;
  width: 100%;
}
.box > img {
  width: 45%;
}
.datetime {
  padding-top: 10%;
  float: right;
}
.date {
  color: #f07f7f;
  font-size: 4.5rem;
}
.misc {
  color: #5f8dd3;
  font-size: 2rem;
}

.carousel {
  width:85%;
  border-radius: 3rem;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
}
.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40rem;
  width: auto;
  object-fit: contain;
}
.carousel-item video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40rem;
  width: auto;
  object-fit: contain;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  background-color: rgba(0,0,0,0);
  border-radius: 3rem;
  pointer-events: auto;
}

.overlay:hover {
  opacity:1;
  background-color: rgba(0,0,0,0.85);
}

.overlay-vid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom:auto;
  height: 90%;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  background-color: rgba(0,0,0,0);
  border-radius: 3rem;
  pointer-events: auto;
}

.overlay-vid:hover {
  opacity:1;
  background-color: rgba(0,0,0,0.85);
}
.text {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.carousel-control-prev {
  height: 20%;
  margin-top: auto;
  margin-bottom: auto;
}
.carousel-control-next {
  height: 20%;
  margin-top: auto;
  margin-bottom: auto;
}

.register-box {
  max-width: 2400px;
  padding-left: 10%;
  padding-right: 10%;
  height: fit-content;
  margin: 0 auto;
}

.register-description {
  text-align: left;
}

@media (min-width: 1200px) {
  .register-box {
    padding-top: 10rem;
    display: flex;
  }
  .register-description {
    flex: 60%;
  }
  .register-button {
    flex: 40%;
    padding: 2rem;
  }
}


#register-date {
  color: #f07f7f;
  font-size: 4rem;
}

#register-time {
  color: #5f8dd3;
  font-size: 2rem;
}

#register-location {
  color: white;
  font-size: 2rem;
}
#register-cost {
  color: white;
  font-size: 2rem;
}


.register-button > button {
  height: 90%;
  width: 90%;
  border: none;
  border-radius: 1rem;
  background-color: #5f8dd3;
  color: white;
  font-size: 3rem;
  transition: all 0.5s;
}

.register-button > button:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .register-button {
    display: flex;
    justify-content: center;
    height: 10rem;
    
    margin-top: 1rem;
  }
}

.about-box {
  max-width: 2400px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .about-box {
    display: flex;
  }
  .about-column {
    margin-left: 5rem;
    flex: 50%;
  }
}

.about-image {
  max-width: 100%;
}

.about-right-column {
  
  padding-top: 2rem;
}
.about-grid-wrapper {
  display: flex;
  justify-content: center;
}
.about-grid {
  margin-top: 5rem;
  flex: 1;
  
  max-width: 1500px;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (min-width: 1200px) {
  .about-grid {
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 1fr;
    column-gap: 1rem;
  row-gap: 1rem;
  }
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-item {
  position: relative;
  justify-content: center;
  justify-self: center;
  width: 100%;
}

.about-item > a {
  height: 13rem;
  display: flex;
  justify-content: center;
}


@media (max-width: 1200px) {
  .about-title {
    padding-bottom: 2rem;
  }
}

.about-button {
  width: 100%;
  height: 100%;
  position: relative;
}

.about-button > a {
  height: 13rem;
  display: flex;
  justify-content: center;
}

.about-button > a > button {
  width: 90%;
  height: 90%;
  border: none;
  background-color: #3d7bff;
  border-radius: 1rem;
  transition: width 0.25s, height 0.25s;
  padding-left: 1rem;
  padding-bottom: 3rem;
  position: relative;
}

.about-item:hover > .about-button > a > button {
  width: 95%;
  height: 95%;
}

.about-info {
  color: white;
  width: 80%;
  position: absolute;
  top: 0.5rem;
  left: 10%;
}

.about-info > p {
  font-size: 1.25rem;
  display: block;
}

.about-code {
  position: absolute;
  top: 8.5rem;
}

.about-full {
  align-content: center;
  grid-column-start: span 3;
  text-align: center;
}

.about-info-full > p{
  font-size: 1.25rem;
}

.about-info-full {
  color: white;
  width: 80%;
  position: absolute;
  top: 25%;
  left: 10%;
}