.background {
  background-image: url('../media/background.svg');
  background-size: 2000px auto;
}

nav > .container-fluid > a > img {
  max-width: 3.5rem;
  max-height: 3.5rem;
}

nav a {
  margin-top: 0.25rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

nav > .container-fluid > #navbarSupportedContent > ul > li {
  border: 0.25rem solid transparent;
}
nav > .container-fluid > #navbarSupportedContent > ul > li > a {
  font-size: 1.5rem;
}

.navTransparent {
    transition-duration: 0.5s;
    background-color: transparent;
}
.navTransparent > .container-fluid > #navbarSupportedContent > ul > li:hover {
    transition-duration: 0.5s;
    border-radius: 1rem;
    border: 0.25rem solid #3d7bff;
}
.navTransparent > .container-fluid > #navbarSupportedContent > ul > li > a {
    transition-duration: 0.5s;
    color: #3d7bff;
}

.navColor {
    transition-duration: 0.5s;
    background-color: #3d7bff;
}
.navColor > .container-fluid > #navbarSupportedContent > ul > li:hover {
  transition-duration: 0.5s;
  border-radius: 1rem;
  border: 0.25rem solid white;
}
.navColor > .container-fluid > #navbarSupportedContent > ul > li > a {
    transition-duration: 0.5s;
    color: white;
}
.box {
  padding-left: 10%;
  padding-top: 2.5%;
  padding-bottom: 10%;
  padding-right: 7.5%;
  width: 100%;
}
.box > img {
  width: 45%;
}
.datetime {
  padding-top: 10%;
  float: right;
}

@media (max-width: 1200px) {
  .box > .datetime {
    float: none;
    text-align: center;
  }
  .content > .box > img {
    max-height: 50vh;
    width: auto;
  }
  .content > .box {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .box > .datetime > .date {
    font-size: 2.5rem;
  }
  .box > .datetime > .misc {
    font-size: 1.5rem;
  }
}

.date {
  color: #f07f7f;
  font-size: 4.5rem;
}
.misc {
  color: #5f8dd3;
  font-size: 2rem;
}


.gallery-title {
  color: #f07f7f;
  font-size: 4rem;
  text-align: center;
}

.carousel {
  width:85%;
  border-radius: 3rem;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
}
.carousel-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40rem;
  width: auto;
  object-fit: contain;
}
.carousel-item video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40rem;
  width: auto;
  object-fit: contain;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  background-color: rgba(0,0,0,0);
  border-radius: 3rem;
  pointer-events: auto;
}

.overlay:hover {
  opacity:1;
  background-color: rgba(0,0,0,0.85);
}

.overlay-vid {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom:auto;
  height: 90%;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  background-color: rgba(0,0,0,0);
  border-radius: 3rem;
  pointer-events: auto;
}

.overlay-vid:hover {
  opacity:1;
  background-color: rgba(0,0,0,0.85);
}
.text {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.carousel-control-prev {
  height: 20%;
  margin-top: auto;
  margin-bottom: auto;
}
.carousel-control-next {
  height: 20%;
  margin-top: auto;
  margin-bottom: auto;
}

.about-box {
  max-width: 2000px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 0 auto;
  height: fit-content;
}

@media (min-width: 1200px) {
  .about-box {
    display: flex;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .about-column {
    margin-left: 4.5rem;
    flex: 50%;
  }
  .about-right-column > .about-main-title {
    text-align: left;
    font-size: 4rem;
  }
  .about-column > .about-image {
    max-height: 100%;
  }
}


.about-image {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  display: flex;
  align-self: center;
  height: 100%;
  object-position: 50% 40%;
}
.about-main-title {
  color: #f07f7f;
  font-size: 3rem;
  text-align: center;
  height: fit-content;
}


.about-description {
  font-size: 1.1rem;
}

.about-grid-title {
  text-align: center;
  padding-top: 3rem;
}

.about-grid-description {
  text-align: center;
}

.about-grid-wrapper {
  display: flex;
  justify-content: center;
}

.about-grid {
  margin-top: 1rem;
  flex: 1;
  max-width: 1500px;
  margin-left: 10vw;
  margin-right: 10vw;
}

@media (min-width: 1200px) {
  .about-grid {
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 1fr;
    column-gap: 0.5vw;
    row-gap: 0.5vw;
    justify-items: center;
    align-items: center;
    grid-auto-rows: minmax(10rem, auto) 2rem;
  }
}

.about-title {
  height: fit-content;
  width: 100%;
}

#about-grid-title-line {
  height: 2px;
  margin: auto;
  padding-left: 5%;
  width: 90%;
  max-width: 1700px;
}

@media (max-width: 1200px) {
  .about-title {
    text-align: center;
  }
}

.about-item {
  width: 100%;
}

@media (min-width: 1200px) {
  .about-item {
    height: 100%;
  }
}

.about-item > a {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4rem;
  /* Disables link until we know what the url will be */
  pointer-events: none;
  cursor: default;
}

@media (max-width: 1200px) {
  .about-title > a {
    grid-auto-rows: auto;
  }
}

.about-item > a:link {
  text-decoration: none;
}

.about-item > a:visited {
  text-decoration: none;
}

.about-item > a:hover {
  text-decoration: none;
}

.about-item > a:active {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .about-title {
    padding-bottom: 2rem;
  }
}

.about-grid-divider {
  color: black;
  grid-column-start: span 4;
  width: 100%;
}

.about-button {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.about-code {
  grid-column: 1;
  grid-row: 2;
  padding: 0% 10% 0% 10%;
  color: white;
  font-size: 1.25rem;
}

.about-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.about-button > button {
  width: 90%;
  height: 90%;
  border: none;
  border-radius: 1rem;
  transition: width 0.25s, height 0.25s;
  padding-left: 1rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  background-color: #307bf3;
}

.about-left > a > .about-button > button {
  background-color: #307bf3;
}

.about-middle > a > .about-button > button {
  background-color: #0d5ddf;
}

.about-right > a > .about-button > button {
  background-color: #0944a1;
}

.about-item:hover > a > .about-button > button {
  width: 95%;
  height: 95%;
}

.about-info {
  padding: 1rem 10% 0% 10%;
  display: flex;
  justify-self: center;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  top: 0;
  z-index: 1;
  color: white;
  width: 100%;
}

.about-info > p {
  font-size: 1.1rem;
}

.about-info > h1 {
  font-size: 2rem;
}

.about-full {
  grid-column-start: span 3;
  text-align: center;
}

.about-info-full > p {
  font-size: 1rem;
}

.about-info-full {
  padding: 2.5% 10% 0% 10%;
  display: flex;
  justify-items: center;
  flex-direction: column;
  grid-column: 1;
  grid-row: 1;
  top: 0;
  z-index: 1;
  color: white;
  width: 100%;
}

.about-full > a > .about-info-full {
  display: flex;
  align-self: center;
}

@media (max-width: 1200px) {
  .about-info-full {
    padding-bottom: 5%;
  }
}